{% extends 'base.html' %}
{% block content %}

<h1>Your goals</h1>
  <div class="float-right add-goal-button">
    <a class="btn btn-info" href="/add_goal" role="button">
      Add a Goal
    </a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Edit link</th>
    </tr>
    </thead>
    <tbody>
    {% if goals|length > 0 %}
      {% for goal in goals %}
        <tr>
          <td>{{ goal.name }}</td>
          <td>{{ goal.description }}</td>
          <td>
            <a href="/goal_details/{{ goal.goal_id }}">Edit goal</a>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr><td>No results</td></tr>
    {% endif %}
    <tbody>
  </table>
{% endblock %}